<% // Created by Damiaan on 2-11-13. %>
<div class="titleBar">
    <div>Project Hades</div>
    <div>
        <table>
            <tr><td>Money</td><td><span id="moneyCount"></span></td></tr>
            <tr><td>Souls</td><td><span id="soulCount"></span></td></tr>
        </table>
    </div>

</div>
<div class="buildings">
    <div>Buildings</div>
    <div id="buildingMenu">
    </div>
</div>
<div class="grid" id="hadesgrid">
</div>
<div class="playername">
    Player 1 : <input type="radio" name="group1" id="player1">
    Player 2 : <input type="radio" name="group1" id="player2">
</div>
<div id="advert" class="advert"></div>
<audio id="destroyBuilding">
    <!--<source src="sound/Explosion1.ogg" type="audio/ogg">-->
    <source src="sound/Explosion1.mp3" type="audio/mpeg">
    <!--<source src="sound/Explosion1.wav" type="audio/wav">-->
</audio>
<audio id="buildBuilding">
    <!--<source src="sound/Explosion1.ogg" type="audio/ogg">-->
    <source src="sound/GIRDERIMPACT.mp3" type="audio/mpeg">
    <!--<source src="sound/Explosion1.wav" type="audio/wav">-->
</audio>
<audio id="victory">
    <!--<source src="sound/Explosion1.ogg" type="audio/ogg">-->
    <source src="sound/HOLYGRENADE.mp3" type="audio/mpeg">
    <!--<source src="sound/Explosion1.wav" type="audio/wav">-->
</audio>
<script>
    /**
     * Na pagina reder uitvoeren
     */
    $( document ).ready(function() {
        Hades.init();
    });

</script>