<% // Created by Damiaan on 2-11-13. %>
<div class="titleBar">
    <div>Project Hades</div>
    <div>
        <table>
            <tr><td>Money</td><td><span id="moneyCount"></span></td></tr>
            <tr><td>Souls</td><td><span id="soulCount"></span></td></tr>
        </table>
    </div>

</div>
<div class="buildings">
    <div>Buildings</div>
    <div id="buildingMenu">
    </div>
</div>
<div class="grid" id="hadesgrid">
</div>
<script>
    /**
     * Na pagina reder uitvoeren
     */
    Hades.init();
</script>