<% // Created by Damiaan on 2-11-13. %>
<div class="titleBar">
    <div>Project Hades</div>
    <div>
        <table>
            <tr><td>Money</td><td><span id="moneyCount"></span></td></tr>
            <tr><td>Souls</td><td><span id="soulCount"></span></td></tr>
        </table>
    </div>

</div>
<div>Vul uw naam in</div>
<input type="text" />
<script>

</script>