.titleBar{
    width: 1800px;
    height: 100px;
    float: left;
    border: 1px solid black;
    position : relative;
}

.buildings {
    position : relative;
    width: 210px;
    height: 800px;
    border: 1px solid black;
    float: left;
}

.grid {
    position : relative;
    border: 1px solid black;
    float: left;
    background-color: sandybrown;
}

.cell {
    width: 16px;
    height: 16px;
    background-color: lawngreen;
}

.cell_player{
    background-color: black;
}
.cell_opponent {
    background-color: red;
}
.moneyBuilding {
    background-image: url("../images/lawyer.png");
    background-repeat: no-repeat;
}

.soulBuilding {
    background-image: url("../images/hellaltar.png");
    background-repeat: no-repeat;
}

.buildingCrusher {
    background-image: url("../images/tractor.png");
    background-repeat: no-repeat;
}
.cell_droppable {
    background-image: none;
    background-color: pink;
}
.buildingMenu {
    position : relative;
    border: 1px solid black;
    width: 200px;
    height: 20px;
    cursor: pointer;
}
.buildingMenuDisabled {
    background-color: grey;
    cursor: default;
}

.building {
    width: 16px;
    height: 16px;
    float: right;
}

