.field {
    background-image: url("../images/hellfire.jpg");
    background-repeat: no-repeat;
}
.titleBar{
    width: 1800px;
    height: 100px;
    float: left;
    border: 1px solid white;
    position : absolute;
    color: white;
}

.buildings {
    top:110px;
    position : absolute;
    width: 210px;
    height: 800px;
    border: 1px solid white;
    float: left;
    color: white;
}

.grid {
    position : absolute;
    top: 110px;
    left: 220px;
    border: 1px solid white;
    float: left;
    color: white;
}
.advert{
    position : absolute;
    right: 100px;
    top: 110px;
}
.cell {
    width: 16px;
    height: 16px;
    background-color: lawngreen;
    opacity: 0.4;
}
.cell_player{
    background-color: blue;
    opacity: 1;
}
.cell_opponent {
    background-color: red;
    opacity: 1;
}

.moneyBuilding {
    background-image: url("../images/lawyer.png");
    background-repeat: no-repeat;
}

.soulBuilding {
    background-image: url("../images/hellaltar.png");
    background-repeat: no-repeat;
}

.buildingCrusher {
    background-image: url("../images/tractor.png");
    background-repeat: no-repeat;
}
.buildingMenu {
    position : relative;
    border: 1px solid white;
    width: 200px;
    height: 20px;
    cursor: pointer;
}
.buildingMenuDisabled {
    background-color: grey;
    cursor: default;
}
.building {
    width: 16px;
    height: 16px;
    float: right;
}
.cell_droppable {
    background-color: pink !important;
    background-image: none !important;
}
